nav {
    display: flex;
    background-color: #e2bebe;
    padding: 2.5vmin 5vmin;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 2.5vmin;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 2.5vmin;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
  }