/* .packages-container {
  /* display: flex; */
  /* overflow-x: auto; */
  /* white-space: nowrap; */
  /* z-index: 50;
} */

/* .package-item {
  /* display: inline-block; */
  /* margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
} */ 

